<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--驱动路径注意数据库类型  -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--数据库路径  -->
       <property name="connection.url">jdbc:mysql://120.77.210.211:3306/autumn</property>
        <!--数据库用户名  -->
        <property name="connection.username">autumn</property>
        <!--数据库密码  -->
        <property name="connection.password">autumn</property>
        <!--方言，便于hibernate对象操作转化为合适的数据库语句  -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--是否显示sql语句，sql一般会很难看  默认为false-->
        <property name="hibernate.show_sql">true</property>
        <!-- 选择方案，常用值：validate | update | create | create-drop -->
		<property name="hbm2ddl.auto">update</property>
        <!--下一个层级的映射文件，用来配置bean对象与数据表之间的关系  -->
        <mapping resource="cn/gpnu/domain/user_study_time.hbm.xml"/>
        <mapping resource="cn/gpnu/domain/Square_daily.hbm.xml"/>
        <mapping resource="cn/gpnu/domain/Index_times.hbm.xml"/>
        <mapping resource="cn/gpnu/domain/Index_plan.hbm.xml"/>
    </session-factory>
</hibernate-configuration>